//@import "~bootstrap/dist/css/bootstrap.css"

.menu
  position relative

  .list
    display none
    margin 0

  .title
    font-weight bold
    cursor pointer

  .title:before
    content '▶'
    padding-right 6px
    color green

  &.open
    .list
      display block

    .title:before
      content '▼'

  &:after
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background url(panda.svg) no-repeat
    background-size contain
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
